.the_book_hero_section
  display flex
  align-items center
  justify-content center
  background white
  position relative
  @media screen and (max-width 992px)
    flex-direction column

.get_the_book
  display flex
  flex-direction column
  max-height 890px
  justify-content center
  align-items flex-start
  height 100%
  width 50%
  position relative
  background white
  @media screen and (min-width 2500px)
    min-height 1400px
    max-height 1400px
  @media screen and (max-width 992px)
    width 100%
    max-height 660px
    min-height 660px

.get_the_book_content
  display flex
  flex-direction column
  justify-content flex-start
  align-items flex-start
  max-width 520px
  margin 0 auto
  padding 0 20px
  @media screen and (max-width 992px)
    max-width 600px
    padding 30px
  h1
    letter-spacing -4.3px
    color black
    font-size 132px
    font-family HelveticaBold
    max-width 520px
    margin 0 auto
    margin-bottom 13px
    line-height 0.8
    @media screen and (max-width 1200px)
      font-size 102px
    @media screen and (max-width 992px)
      font-size 74px
      max-width 600px
      line-height 1

.the_book
  width 50%
  max-height 890px
  height 100%
  min-height 890px
  position relative
  background #ecedee
  display flex
  flex-direction column
  justify-content center
  @media screen and (min-width 2500px)
    min-height 1400px
    max-height 1400px
  @media screen and (max-width 992px)
    width 100%
    max-height 660px
    min-height 660px
  .image
    width 100%
    max-height 890px
    height 100%
    min-height 700px
    @media screen and (min-width 2500px)
      min-height 1400px
      max-height 1400px
    @media screen and (max-width 1300px)
      min-height 600px
    @media screen and (max-width 1150px)
      min-height 550px
    img
      max-height 890px
      height 100%
      @media screen and (min-width 2500px)
        min-height 1400px
        max-height 1400px
    picture img
      max-height 890px
      height 100%
      object-position 30% 50% !important
      @media screen and (min-width 2500px)
        min-height 1400px
        max-height 1400px

.the_book_btn
  max-width 204px
  width 100%
  padding 19px 20px 20px 30px
  background-image linear-gradient(to right, #f00 0%, #f00 100%)!important
  font-size 15px
  font-family HelveticaBold
  color white
  transition: 0.5s;
  background-size: 200% auto;
  display flex
  align-items flex-start
  justify-content space-between
  line-height 1.2
  margin-top 30px
  @media screen and (max-width 992px)
    background-image none !important
    background #f00
  &:hover
    background-position right center
    cursor pointer
    text-decoration none
    color white
    background-image linear-gradient(to right, #f00 0%, #fda085 51%, #f00 100%)!important
    @media screen and (max-width 992px)
      background-image none !important
      background darken(#f00, 15%)
  svg
    color white
    font-size 15px

.cross
  position absolute
  bottom -18px
  left -18px
  z-index 10
  @media screen and (max-width 992px)
    display none