.about_the_book_section
  width 100%
  min-height 890px
  padding 100px 0
  height 100%
  display flex
  position relative
  background black
  @media screen and (min-width 2500px)
    min-height 1400px
    max-height 1400px
  @media screen and (max-width 992px)
    max-height 100%
    min-height 660px
    flex-direction column
    justify-content center
    padding 50px 0

.about_the_book_content_wrapper
  max-width 1200px
  width 100%
  margin 0 auto
  padding 0 20px
  display flex
  flex-direction column
  justify-content center
  align-items flex-start
  @media screen and (max-width 992px)
      max-width 600px
      padding 30px
    h3
      color white
      font-family HelveticaLight
      font-size 25px
      padding-bottom 56px
      display flex
      align-items center
      @media screen and (max-width 992px)
        padding-bottom 30px
      .line
        width 76px
        height 1px
        background white
        margin-left 30px
    .content
      color white
      font-size 40px
      font-family HelveticaBold
      margin-bottom 30px
      letter-spacing -2px
      margin-top 60px
      max-width 1000px
      width 100%
      line-height 1.2
      @media screen and (max-width 992px)
        font-size 25px
        margin-top 30px