.wistia_swatch
    width none !important
#wistia_video 
    margin 0 !important

.index_logo
    position: absolute
    top: 1rem
    left: 0
    right: 0
    width: 100%
    display: flex
    justify-content: center
    height: 2rem


.apply_logo
    cursor: pointer
    position: block
    margin-top: 1rem
    margin-bottom: 3rem
    width: 100%
    display: flex
    justify-content: center
    height: 2rem
    img 
        height: 2rem
        @media screen and (max-width: 1000px) and (orientation: landscape)
            margin-bottom: 0rem !important

.index_wrapper
    display: grid
    place-items: center
    height: 100vh
    box-sizing: border-box
    font-family: Helvetica, sans-serif
    position: relative
    background: #f9f9f9
    padding: 0 3rem
    @media screen and (max-width:768px)
        padding 0 !important

.index_icon
    display: grid
    place-items: center
    height: 4rem
    width: 4rem
    background: linear-gradient(to bottom,rgba(255,255,255,1),rgba(255,255,255,0.25))
    color: red
    border-radius: 9999px
    font-size: 2rem
    @media screen and (max-width:460px)
        height: 2.5rem !important
        width: 2.5rem !important
        font-size: 1rem !important
        margin-right: 2rem !important

.index_linkWrapper
    display: flex
    justify-content: center

.index_linkHolder
    display: flex
    gap: 6rem
    margin-top: 10rem
    justify-content: center
    flex-direction: row
    padding-left: 0
    @media screen and (max-width: 1000px) and (orientation: landscape)
        margin-top: 2rem !important
    @media screen and (max-width:768px)
        gap .5rem !important
        flex-direction: column !important
    @media screen and (max-width: 460px)
        flex-direction: column !important

.index_heading 
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    transition 0.5s all ease
    &:hover .index_playIcon
        color: red

.index_span 
    color red
    @media screen and (max-width:640px)
        display: block

.index_headingHolder
    cursor: pointer
    transition 0.5s all ease
    &:hover .index_playIcon
        color: red
        @media screen and (max-width: 1000px) and (orientation: landscape)
            padding-top: 4rem

.index_link
    display: flex
    align-items: center
    font-weight: 400
    font-size: 1.2rem
    color: black
    text-decoration: none
    transition 0.5s all ease

    &:hover
        color: red !important

.index_h1
    font-size:4rem
    font-weight: 500
    text-align: center
    @media screen and (max-width:1025px)
        font-size: 3.2rem !important
        @media screen and (max-width:768px)
            font-size: 3rem !important
            @media screen and (max-width:460px)
                font-size: 2rem !important

.index_playIcon
    font-size: 3rem !important
    margin-top: 2rem
    cursor: pointer
    transition 0.5s all ease
    &:hover
        color: red
    @media screen and (max-width:460px)
        font-size: 2rem !important

.index_player
    width 1366px
    height 768px
    @media screen and (max-width:1536px)
        width 1280px
        height 720px
        @media screen and (max-width:1280px)
            width 1024px
            height 576px
            @media screen and (max-width:1024px)
                width 760px
                height 428px
                @media screen and (max-width:768px)
                    width 576px !important
                    height: 324px !important
                    @media screen and (max-width:576px)
                        width 360px !important
                        height: 203px !important 
                        @media screen and (max-width:360px)
                            width: 300px !important
                            height: 169px !important

.cursors
    @media screen and (max-width:768px)
        display: none

.cursor 
    position: fixed
    height: 10px
    width: 10px
    border-radius: 50%
    transform: translateX(-50%) translateY(-50%);
    pointer-events: none
    @media screen and (max-width: 1000px) and (orientation: landscape)
        display: none
        @media screen and (max-width:768px)
            display: none

.cursors .cursor:nth-child(1) 
    display: none;

.cursors .cursor:nth-child(2) 
    background-color: #f00
    z-index: 100000000001
    height: 15px
    width: 15px

.hidden_cursors
    display: none
