.book_section
  width 100%
  background-color #ECEDEE
  max-height 890px
  height 100%
  position relative
  @media screen and (min-width 2500px)
    max-height 100%
  @media screen and (max-width 992px)
    max-height 660px
    min-height 660px
    height 1005
  .book_section_image
    width 100%
    height 100%
    max-height 890px
    img
      transition transform .3s ease!important
      &:hover
        transform scale(1.1)
        -webkit-transform scale(1.1)
        -moz-transform scale(1.1)
        z-index 0
    @media screen and (min-width 2500px)
      min-height 1400px
      max-height 1400px
    @media screen and (max-width 992px)
      max-height 660px
      min-height 660px
      width 100%
    picture img
      object-fit contain !important
      @media screen and (max-width 992px)
        object-fit cover !important
        object-position 30% 50% !important

.btn_holder
  width 100%
  max-width 204px
  position absolute
  bottom 97px
  left 50%
  transform translate(-50%, 0)
  @media screen and (max-width 992px)
    max-width 660px
    margin 0 auto
    padding-left 30px
    bottom 60px
    text-align left

.the_book
  width 100%
  padding 19px 20px
  background-image linear-gradient(to right, white 0%, white 51%, white 100%)!important
  border 1px solid black
  font-size 15px
  font-family HelveticaBold
  color black
  transition: 0.5s;
  background-size: 200% auto;
  display flex
  align-items flex-start
  justify-content space-between
  line-height 1.2
  @media screen and (max-width 992px)
    max-width 204px
    background-image none !important
    background white
  &:hover
    background-image linear-gradient(to right, black 0%, black 51%, white 100%)!important
    color white !important
    cursor pointer
    background-position right center
    text-decoration none
    @media screen and (max-width 992px)
      background-image none !important
      background black
      color white
    svg
      color white !important
  svg
    color black !important
    cursor pointer
    font-size 15px
