.burger_menu
  background white
  padding 30px
  position fixed
  top 0
  left 0
  right 0
  bottom 0
  z-index 100
  animation: fadeIn ease 0.5s;
  -webkit-animation: fadeIn ease 0.5s;
  -moz-animation: fadeIn ease 0.5s;
  -o-animation: fadeIn ease 0.5s;
  -ms-animation: fadeIn ease 0.5s;


.burger_menu_closed
  opacity 0
  visibility hidden
  padding 30px
  background rgb(255,255,255)
  position absolute
  top 0
  left 0
  right 0
  bottom 0
  transition opacity 0.6s linear
  transition-delay 0.2s


.nav_link, .active_link
  font-family HelveticaBold
  font-size 38px
  letter-spacing -2.75px
  color #000000
  padding-bottom 20px
  &:hover
    text-decoration none !important
    color #FF0301
    transition 0.2s

.active_link
  color #FF0301 !important

.burger_menu_header
  width 100%
  display flex
  justify-content space-between
  align-items center
  .logo
    max-width 115px
    width 100%
    img
      width 100%
      object-fit contain
  .burger
    max-width 24px
    img
      width 100%
      height 100%
      object-fit contain

.nav_bar, .nav_bar_menu
  height 100%
  display flex
  flex-direction column
  justify-content center
  width 100%
  visibility visible
  opacity 1
  padding 20px 0
  transition opacity 2s linear

.nav_bar_closed
  height 100%
  display flex
  flex-direction column
  justify-content center
  width 100%
  visibility visible
  opacity 0
  z-index 100
  transition opacity 0.6s linear

@keyframes fadeIn {
  0% {
    opacity:0;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity:1;
  }
}


