.one_million_followers_section
  display flex
  align-items center
  justify-content center
  position relative
  @media screen and (max-width 992px)
    flex-direction column

.description
  max-height 950px
  min-height 950px
  height 100%
  display flex
  width 50%
  position relative
  flex-direction column
  justify-content center
  align-items flex-start
  padding 0 20px
  max-width 586px
  margin 0 auto
  @media screen and (min-width 2500px)
    min-height 1400px
    max-height 1400px
  @media screen and (max-width 992px)
    max-height 100%
    min-height 660px
    width 100%
    padding 15px
    max-width 600px



.case_study
  color #000000
  font-size 25px
  font-family HelveticaLight
  display flex
  align-items center
  span
    width 70px
    height 1px
    color black
    background black
    margin-top 8px
    margin-left 10px
  a 
    color #f00


.image_holder
  max-height 950px
  min-height 950px
  height 100%
  display flex
  width 50%
  position relative
  flex-direction column
  align-items flex-start
  @media screen and (min-width 2500px)
    min-height 1400px
    max-height 1400px
  @media screen and (max-width 992px)
    max-height 500px
    min-height 500px
    width 100%
    max-width 600px
    margin 0 auto

.small_image_holder
  max-height 500px
  min-height 500px
  height 100%
  display flex
  width 50%
  position relative
  flex-direction column
  align-items flex-start
  @media screen and (min-width 2500px)
    min-height 1400px
    max-height 1400px
  @media screen and (max-width 992px)
    max-height 660px
    min-height 660px
    width 100%
    max-width 600px
    margin 0 auto


.title
  color #000000
  font-family HelveticaBold
  font-size 100px
  width 100%
  max-width 546px
  margin-top 25px
  margin-bottom 30px
  line-height 0.9
  @media screen and (max-width 1560px) {
    white-space pre-wrap !important
    word-break: break-word
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
  }
  
  @media screen and (max-width 992px)
      max-width 600px
      width 100%
      margin 0 auto
      letter-spacing -3.7px
      font-size 74px!important
      padding-top 20px
      margin-bottom 30px

.pierTitle
  color #000000
  font-family HelveticaBold
  font-size 100px
  width 100%
  max-width 546px
  margin-top 25px
  margin-bottom 30px
  line-height 0.9
  @media screen and (max-width 1600px) 
    font-size 80px !important
  
  @media screen and (max-width 1560px) {
    white-space pre-wrap !important
    word-break: break-word
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
  }


.blogTitle
  color #000000
  font-family HelveticaBold
  font-size 70px
  width 100%
  max-width 546px
  margin-top 25px
  margin-bottom 30px
  line-height 0.9
  @media screen and (max-width 1600px) 
    font-size 60px !important
  
  @media screen and (max-width 1560px) {
    white-space pre-wrap !important
    word-break: break-word
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
  }
  
  @media screen and (max-width 992px)
      max-width 600px
      width 100%
      margin 0 auto
      letter-spacing -3.7px
      font-size 50  px!important
      padding-top 20px
      margin-bottom 30px
     

.objective
  color: #000000
  opacity: 1
  font-family HelveticaBold
  font-size 18px
  display flex
  align-items center
  padding-top 35px
  span
    width 70px
    height 1px
    color black
    background black
    margin-top 5px
    margin-left 10px


.text
  color #000000
  font-family HelveticaLight
  font-size 20px
  width 100%
  max-width 640px
  margin-top 10px
  line-height 1.3

.highlights li
  list-style disc
  margin 0 0 20px 0
  color: #000000;
  font-family HelveticaLight
  font-size 20px
  line-height 1.3
  span
    font-family HelveticaBold
  &:nth-child(1)
    margin-top 20px


.highlights
  padding-left 23px
  width 100%
  max-width 642px


.image
  width 100%
  height 100%
  margin 0 auto
  max-height 950px
  min-height 950px
  @media screen and (min-width 2500px)
    min-height 1400px
    max-height 1400px
  @media screen and (max-width 992px)
    max-height 500px
    min-height 500px


.small_image
  width 100%
  height 100%
  margin 0 auto
  max-height 760px
  min-height 760px
  max-width 545px
  @media screen and (min-width 2500px)
    min-height 1400px
    max-height 1400px
  @media screen and (max-width 992px)
    max-height 500px
    min-height 500px


.description_text
  letter-spacing 0px
  color #000000
  opacity 1
  font-family HelveticaBold
  font-size 36px
  line-height 1.2
  white-space pre-wrap

.description_text_blog
  letter-spacing 0px
  color #000000
  opacity 1
  font-family HelveticaBold
  font-size 24px
  line-height 47px
  white-space pre-wrap
  @media screen and (max-width 992px) {
    font-size: 18px
    line-height 24px
  }

.cross
  position absolute
  bottom -18px
  right 50%
  transform: translateX(50%)
  z-index 10
  width: 37.41px
  height: 36.73px
  @media screen and (max-width 992px)
    display none


.case_study_description_section
  background #ffffff 0% 0% no-repeat padding-box
  opacity 1
  height max-content
  min-height 845px
  padding 105px 120px 0 65px
  @media screen and (max-width 1080px)
    max-height none
    min-height auto
  @media screen and (max-width 600px)
    padding 25px
    max-height none
    min-height auto


.case_study_description_title_holder
  width 100%
  // max-width 1050px
  font-stretch: expanded
  h3
    letter-spacing 0px
    color #000000
    opacity 1
    font-size 33px
    font-family HelveticaLight
    line-height 1.2
    @media screen and (max-width 600px)
      font-size 20px
    span
      font-family HelveticaBold


.case_study_description_list,.list
  ul,ol
    display flex
    flex-direction column
    list-style disc
    margin 27px 0 0 25px
    width 100%
    max-width 1050px
    @media screen and (max-width 600px)
      padding-left 25px
      padding-right 20px
      margin 27px 0 0 0!important
    li
      letter-spacing 0px
      color #000000
      opacity 1
      font-size 33px
      font-family HelveticaLight
      line-height 1.2
      margin 0 0 30px 0
      @media screen and (max-width 600px)
        font-size 20px
      span
        font-family HelveticaBold

.case_study_description_list,.list
  ol 
    list-style number
.case_study_work_section
  background black
  opacity 1
  display flex
  height 100%
  max-height 890px
  min-height 890px
  width 100%
  flex-direction column
  justify-content center


.case_study_work_section_description
  width 100%
  max-width 925px
  padding-left 125px
  @media screen and (max-width 600px)
    padding 25px


.case_study_work_section_text,.sub_text
  letter-spacing -3.85px
  color #FFFFFF
  opacity 1
  font-family HelveticaBold
  font-size 77px
  @media screen and (max-width 600px)
    font-size 40px
    letter-spacing normal


.sub_text
  padding-top 80px


.case_study_buttons_holder
  margin-top 52px
  display flex
  @media screen and (max-width 600px)
    flex-direction column
  .apply_now
    background-image linear-gradient(to right, #f00 0%, #f00 100%)!important
    width 100%
    max-width 204px
    display flex
    justify-content space-between
    align-items center
    padding 22px 15px 22px 25px
    margin-top 30px
    transition: 0.5s;
    background-size: 200% auto;
    color white
    font-family HelveticaBold
    font-size 15px
    border none
    margin-right 20px
    @media screen and (max-width 992px)
      margin-left 0
      margin-right 0
      margin-top 25px
      padding 19px 15px 19px 25px
      background-image none !important
      background #f00
    &:hover
      background-position right center
      text-decoration none
      color white
      background-image linear-gradient(to right, #f00 0%, #fda085 51%, #f00 100%)!important
      @media screen and (max-width 992px)
        background-image none !important
        background darken(#f00, 15%)
    svg
      fill white


 .next_case_study
   background-image black
   width 100%
   max-width 204px
   display flex
   justify-content space-between
   align-items center
   padding 22px 15px 22px 25px
   margin-top 30px
   border: 1px solid white!important;
   transition: 0.5s;
   background-size: 200% auto;
   color white!important
   font-family HelveticaBold
   font-size 15px
   
   cursor pointer
   @media screen and (max-width 992px)
     margin-left 0
     margin-top 25px
     padding 19px 15px 19px 25px
     background-image none !important
     background black
   &:hover
     background-position right center
     text-decoration none
     color white
     background-image linear-gradient(to right, white 0%, black 51%, white 100%)!important
     @media screen and (max-width 992px)
       background-image none !important
       background darken(white, 15%)
       color black
   svg
     fill white

.paragraph
  font-size 35px
  color #000
  line-height 44px
  font-family HelveticaLight
  padding-bottom 40px
  a 
    color #f00
    text-decoration none
    &:hover 
      text-decoration underline
  em
    font-style italic
  
  strong 
    font-family HelveticaBold

  @media screen and (max-width 600px) 
    font-size 20px !important
    line-height 1.2 !important
  
.section
  // background #EDEDED 0% 0% no-repeat padding-box
  opacity 1
  height max-content
  padding 105px 120px 0 65px
  @media screen and (max-width 1080px)
    max-height none
    min-height auto
  @media screen and (max-width 600px)
    padding 25px
    max-height none
    min-height auto

.videoHolder
  padding 0 30% 100px
  @media screen and (max-width 820px) 
    padding 0 0 50px
  
.videoHolderWide
  padding 0 10% 100px
  @media screen and (max-width 820px) 
    padding 0 0 50px
  
.list
  font-size 35px
  color #000
  line-height 44px
  font-family HelveticaLight
  padding-bottom 40px
  list-style-type decimal
  list-style-position inside
  li
    margin-bottom 5px
  a 
    color #f00
    text-decoration none
    &:hover 
      text-decoration underline

.flexTuple
  display flex
  align-items center
  width 100%
  background-color var(--clr)
  position relative 
  overflow hidden
  @media screen and (max-width 820px) 
    flex-direction column
    padding: 30px 0
  & > *:not(img)
    width 50%
    height 100%
    @media screen and (max-width 1325px) 
      width 100%
  & > .imageHolder 
    flex-grow 1
    height 100%
    width 50%
    position relative
    overflow hidden
    min-height 1000px
    @media screen and (max-width 1325px) 
      padding 20px 200px !important
      width 100% !important
      min-height: 500px !important
      aspect-ratio: 1/1 !important
    @media screen and (max-width 820px) 
      margin-bottom: 30px !important
      min-height 250px 
      max-height: 250px 
      width 250px 
      min-width: 250px 
      max-width: 250px 

    @media screen and (max-width 600px) 
      margin-bottom: 30px !important
      width 100vw !important 
      min-width:  100vw !important
      max-width:  100vw !important
      min-height 0 !important
      max-height: 0 !important
      height 0 !important
      padding-bottom: 100% !important
    img
      position absolute
      top 0
      left 0
      right 0
      bottom 0
      object-fit: cover
      height 100%
      width 100%
      @media screen and (max-width 820px)
        order 1
  article
    background-color var(--clr)
    padding-top 90px 
    padding-bottom  90px
    padding-left var(--paddingX)
    padding-right var(--paddingX)
    min-width 50%
    display flex
    flex-direction column
    justify-content center
    position relative !important
    p 
      color var(--textClr) !important
    @media screen and (max-width 1200px)
      padding 0 40px
    @media screen and (max-width 820px)
      padding: 0 65px
      order 2
      p
        font-size: 35px !important
        line-height: 45px !important
    @media screen and (max-width 600px)
      padding: 0 10px
      p 
        font-size 20px !important
        line-height 1.2!important
  p
    @media screen and (max-width 1325px) 
      font-size: 20px !important
      line-height 25px !important 
    @media screen and (max-width 600px)
      font-size 20px !important
      line-height 1.2!important

.customTitle
  font-size 35px
  color #000
  line-height 44px
  font-family HelveticaBold
  padding-bottom 40px
  a 
    color #f00
    text-decoration none
    &:hover 
      text-decoration underline
  em
    font-style italic

.customTitleWhite
  font-size 35px
  color #fff
  line-height 44px
  font-family HelveticaBold
  padding-bottom 40px
  a 
    color #f00
    text-decoration none
    &:hover 
      text-decoration underline
  em
    font-style italic

.redline
  position absolute
  left 50px
  bottom 20px
  height 5px
  max-height: 5px
  width 200px
  max-width: 200px
  background #f00
  @media screen and (max-width 820px) 
    display none
  
.copy
  font-size: 10px
  font-family: Helvetica
  display: flex
  align-items: center
  height 20px
  max-height: 20px
  width 200px
  max-width: 200px
  color #fff
  position absolute
  right 50px
  bottom 20px
  @media screen and (max-width 820px) 
      display none
  .line
    margin-right: 10px
    width 100px
    min-width: 100px
    max-width: 100px
    height 1px
    min-height: 1px
    max-height: 1px
    background #fff
    



.tiktokHolder
  display flex
  align-items center
  justify-content space-evenly
  @media screen and (max-width: 920px) {
    flex-direction column
  }