.apply_to_work_section
  max-height 890px
  height 100%
  background black
  min-height 890px
  display flex
  flex-direction column
  justify-content center
  align-items flex-start

.content_holder
  display flex
  flex-direction column
  justify-content center
  align-items flex-start
  max-width 1000px
  margin 0 auto
  padding 0 20px
  @media screen and (max-width 1200px)
    max-width 900px
  h2
    font-family HelveticaBold
    color white
    font-size 132px
    width 100%
    margin-bottom 22px
    @media screen and (max-width 1200px)
      font-size 90px
    span
      color #FF0000

.apply_btn
  max-width 204px
  width 100%
  padding 19px 20px
  background #FF0000
  font-size 15px
  font-family HelveticaBold
  color white
  display flex
  align-items flex-start
  justify-content space-between
  line-height 1.2
  &:hover
    background darken(#FF0000, 15%)
    cursor pointer
  svg
    color white
    cursor pointer
    font-size 15px