.wrapper
  display flex
  align-items center
  justify-content center
  position relative
  @media screen and (max-width 992px)
    flex-direction column


.case_studies_holder
  max-height 887px
  min-height 890px
  height 100%
  display flex
  width 50%
  position relative
  flex-direction column
  justify-content center
  align-items flex-start
  padding 0 20px
  @media screen and (min-width 2500px)
    min-height 1400px
    max-height 1400px
  @media screen and (max-width 992px)
    min-height 400px
    padding 30px
    max-height 100%
    max-width 600px
    width 100%
    margin 0 auto
  h2
    color #000000
    font-family HelveticaBold
    font-size 170px
    width 100%
    max-width 620px
    margin 0 auto
    display flex
    flex-direction column
    line-height 0.8
    @media screen and (max-width 992px)
      font-size 74px
      letter-spacing -3.7px
    line-height 1
  .content
    color #000000
    font-family HelveticaLight
    font-size 25px
    width 100%
    max-width 586px
    margin 0 auto
    line-height 1.3
    padding-top 26px
    @media screen and (max-width 992px)
      max-width 600px


.image_holder
  display flex
  width 50%
  position relative
  flex-direction column
  justify-content center
  align-items flex-start
  padding 0 20px
  @media screen and (max-width 992px)
    padding 0 30px
    width 100%
    justify-content flex-start
    min-height 90px
    max-height 90px
    max-width 600px
    margin 0 auto


.image
  width 100%
  max-width 622px
  margin 0 auto
  height 100%
  max-height 230px
  @media screen and (max-width 992px)
    max-width 100%


.cross
  position absolute
  bottom -20px
  z-index 10000
  @media screen and (max-width 992px)
    display none

.hr
  width 76px
  height 1px
  color black
  background black
  margin-top 35px
  margin-left 8px

.red_svg
  position absolute
  fill red
  bottom: 42px
  left 40px
  @media screen and (max-width 992px)
    display none
