.pdf_wrapper
  text-align: center;
  position relative
  height 100vh


.button
  position: absolute;
  top: 50%;
  width 100%
  padding 19px 20px
  font-size 15px
  font-family HelveticaBold
  color white
  transition: 0.5s;
  background-size: 200% auto;
  align-items flex-start
  justify-content space-between
  line-height 1.2
  &:hover
    cursor pointer
    background-position right center
    text-decoration none
    color white
  @media screen and (max-width 992px)
    margin-top 16px
    max-width 204px
  svg
    color white
    font-size 15px


.button
  max-width 204px
  background-image linear-gradient(to right, #f00 0%,#f00 100%)!important
  transform translate(-50%, 0)
  &:hover
    background-image linear-gradient(to right, #f00 0%, #fda085 51%, #f00 100%)!important
    @media screen and (max-width 992px)
      background darken(#f00, 15%)
      background-image none !important
  @media screen and (max-width 992px)
    left unset
    position relative
    transform none
    bottom unset
    background #f00
    background-image none !important