.container  
    width: 100%
    max-width: 1373px
    margin: 0 auto
    display: flex
    flex-direction: column
    font-family: Helvetica, sans-serif
.grid
    display: grid
    grid-template-columns: repeat(3,minmax(0,1fr))
    gap: 148px
    position relative
    top -51px
    @media screen and (max-width 1373px) {
       gap 50px
       padding 0 20px
    }
    @media screen and (max-width 1175px) {
        grid-template-columns: repeat(2,minmax(0,1fr))
    }
    @media screen and (max-width 340px) {
        grid-template-columns: repeat(1,minmax(0,1fr))
    }
    
    
.background
    background-color: #EDEDED
.section
    position relative
    
    
.header
    padding-top: 342px
    color: #000000
    @media screen and (max-width 1373px) {
        padding-left: 20px
        padding-right: 20px
       
    }
    @media screen and (max-width 970px) {
        padding-top: 20px
    }

.title
    font-size: 177px
    letter-spacing: -8.85px
    line-height: 149px
    font-weight: 700
    @media screen and (max-width 970px) {
        font-size: 100px
        letter-spacing: -4.85px
    }
    @media screen and (max-width 650px) {
        font-size: 50px
        letter-spacing: -2.85px
    }
    
.line
    width: 76px
    height: 1px
    background-color: #000000
    margin-left: 15px
    margin-bottom 31px

.subtitle
    font-size: 25px
    line-height: 36px
    letter-spacing: 0px
    padding-left: 5px
    margin-bottom: 261px
    font-weight: 300
    max-width: 933px
    @media screen and (max-width 970px) {
        margin-bottom: 140px
    }
    @media screen and (max-width 650px) {
        font-size: 16px
        line-height: 21px
    }

.item
    width: 100%
    display: flex 
    flex-direction: column
    justify-content: start
    align-items: center 
    img 
        width: 359px
        height: 359px
        border-radius: 9999px
        object-fit: cover
        filter: saturate(0)
        margin-bottom: 19px
        @media screen and (max-width 750px) 
            width: 200px
            height: 200px
        @media screen and (max-width 480px) 
            width: 150px
            height: 150px
    
    h3
        font-size: 40px
        letter-spacing: -2px
        font-weight: 700
        line-height: 44px
        text-align: center
        margin-bottom: 0px
        @media screen and (max-width 750px) 
            font-size: 30px
            letter-spacing: -1px
            line-height: 34px
            margin-bottom: 5px
        @media screen and (max-width 480px) 
            font-size: 16px
            letter-spacing: -0.5px
            line-height: 16px
            margin-bottom: 5px
    p 
        font-size: 30px
        letter-spacing: -1.5px
        line-height: 44px
        text-align: center
        @media screen and (max-width 750px) 
            font-size: 20px
            letter-spacing: -1px
            line-height: 24px
        @media screen and (max-width 750px) 
            font-size: 12px
            letter-spacing: -0.2px
            line-height: 12px
