.unique_about_you_section
  width 100%
  max-height 890px
  min-height 890px
  height 100%
  display flex
  position relative
  @media screen and (min-width 2500px)
    min-height 1400px
    max-height 1400px
  @media screen and (max-width 992px)
    max-height 100%
    min-height 660px

.unique_about_you
  background #ECEDEE
  display flex
  flex-direction column
  justify-content center
  align-items flex-start
  width 100%
  position relative

.unique_about_you_content
  padding 0 20px
  width 100%
  @media screen and (max-width 992px)
    padding 0 30px
  .content
    max-width 1377px
    margin 0 auto
    font-family HelveticaLight
    font-size 25px
    color #000000
    margin-top 30px
    line-height 1.3
    @media screen and (max-width 992px)
      max-width 600px
      margin 30px auto 0 auto
  h2
    font-size 125px
    font-family HelveticaBold
    letter-spacing -3.9px
    color #000000
    max-width 1377px
    margin 0 auto
    line-height 0.9
    @media screen and (min-width 2500px)
      font-size 60px
    @media screen and (max-width 992px)
      max-width 600px
      margin 0 auto
      font-size 50px
      line-height 1
    span
      color #FF0301
      margin-left 13px

.cross
  position absolute
  bottom -18px
  right 50%
  z-index 10
  @media screen and (max-width 992px)
    display none