.outside_the_box_section
  width 100%
  max-height 890px
  min-height 890px
  height 100%
  display flex
  position relative
  @media screen and (min-width 2500px)
    min-height 1400px
    max-height 1400px
  @media screen and (max-width 992px)
    max-height 100%
    min-height 660px
    flex-direction column

.outisde_the_box_text
  display flex
  flex-direction column
  max-height 890px
  min-height 890px
  justify-content center
  align-items flex-start
  height 100%
  width 100%
  position relative
  background black
  padding 0 20px
  @media screen and (min-width 2500px)
    min-height 1400px
    max-height 1400px
  @media screen and (max-width 992px)
    max-height 100%
    min-height 660px
    padding 30px
  .content
    color #FFFFFF
    font-family HelveticaLight
    font-size 25px
    max-width 1377px
    margin 0 auto
    margin-top 30px
    line-height 1.3
    @media screen and (max-width 992px)
      max-width 600px
  h2
    letter-spacing -3.5px
    color #FFFFFF
    font-size 90px
    font-family HelveticaBold
    max-width 1377px
    margin 0 auto
    line-height 1
    @media screen and (max-width 1200px)
      font-size 60px
    @media screen and (max-width 992px)
      max-width 600px
      font-size 40px
      margin 0 auto 30px auto
    span
      color white

.cross
  position absolute
  bottom -18px
  right 50%
  z-index 10
  @media screen and (max-width 992px)
    display none