.tylor_nation_section
  display flex
  align-items center
  justify-content center
  position relative
  @media screen and (max-width 992px)
    flex-direction column


.description
  max-height 890px
  min-height 890px
  height 100%
  display flex
  width 50%
  position relative
  flex-direction column
  justify-content center
  align-items flex-start
  padding 0 20px
  max-width 586px
  margin 0 auto
  @media screen and (min-width 2500px)
    min-height 1400px
    max-height 1400px
  @media screen and (max-width 992px)
    max-height 100%
    min-height 660px
    max-width 600px
    padding 30px
    width 100%


.image_holder
  max-height 890px
  min-height 890px
  height 100%
  display flex
  width 50%
  position relative
  flex-direction column
  justify-content center
  align-items flex-start
  @media screen and (min-width 2500px)
    min-height 1400px
    max-height 1400px
  @media screen and (max-width 992px)
    min-height 660px
    max-height 660px
    width 100%

.case_study
  color #000000
  font-size 25px
  font-family HelveticaLight
  display flex
  align-items center
  span
    width 70px
    height 1px
    color black
    background black
    margin-top 8px
    margin-left 10px


.title
  color #000000
  font-family HelveticaBold
  font-size 95px
  width 100%
  margin-top 25px
  margin-bottom 30px
  @media screen and (max-width 992px)
    font-size 74px
    letter-spacing -3.7px
    line-height 1
    margin-top 20px


.objective
  color: #000000
  opacity: 1
  font-family HelveticaBold
  font-size 18px
  display flex
  align-items center
  padding-top 35px
  span
    width 70px
    height 1px
    color black
    background black
    margin-top 5px
    margin-left 10px


.text
  color #000000
  font-family HelveticaLight
  font-size 20px
  width 100%
  max-width 640px
  margin-top 10px
  line-height 1.3

.highlights li
  list-style disc
  margin 0 0 5px 0
  color: #000000;
  font-family HelveticaLight
  font-size 20px
  line-height 1.3
  span
    font-family HelveticaBold
  &:nth-child(1)
    margin-top 10px


.highlights
  padding-left 23px
  width 100%
  max-width 642px


.image
  width 100%
  height 100%
  max-height 890px
  min-height 890px
  margin 0 auto
  @media screen and (min-width 2500px)
    min-height 1400px
    max-height 1400px
  @media screen and (max-width 992px)
    max-height 660px
    min-height 660px