.book_section
  width 100%
  background-color #ECEDEE
  max-height 890px
  height 100%
  position relative
  @media screen and (min-width 2500px)
    min-height 1400px
    max-height 1400px
  @media screen and (max-width 992px)
    max-height 660px
  .book_section_image
    width 100%
    height 100%
    max-height 890px
    @media screen and (min-width 2500px)
      min-height 1400px
      max-height 1400px
    @media screen and (max-width 992px)
      max-height 660px
      min-height 660px
    picture img
      object-fit contain !important
      @media screen and (max-width 992px)
        object-fit cover !important
        object-position 30% 50% !important

.the_book
  max-width 204px
  width 100%
  padding 19px 20px
  background-image linear-gradient(to right, #f00 0%,#f00 100%)!important
  font-size 15px
  font-family HelveticaBold
  color white
  display flex
  align-items flex-start
  justify-content space-between
  transition: 0.5s;
  background-size: 200% auto;
  line-height 1.2
  position absolute
  bottom 97px
  left 50%
  transform translate(-50%, 0)
  @media screen and (max-width 992px)
    transform unset
    left 30px
    bottom 60px
    background-image none !important
    background #ff0000
  &:hover
    background-position right center
    cursor pointer
    text-decoration none
    background-image linear-gradient(to right, #f00 0%, #fda085 51%, #f00 100%)!important
    color white
    @media screen and (max-width 992px)
      background-image none !important
      background darken(#ff0000, 15%)
  svg
    color white
    cursor pointer
    font-size 15px
