.services_section
  width 100%
  max-height 890px
  min-height 890px
  height 100%
  display flex
  @media screen and (min-width 2500px)
    min-height 1400px
    max-height 1400px
  @media screen and (max-width 992px)
    max-height 100%
    min-height 660px
    flex-direction column

.no_hook_point
  background #FF0301
  height 100%
  display flex
  flex-direction column
  justify-content center
  align-items self-start
  width 50%
  position relative
  max-height 890px
  min-height 890px
  @media screen and (min-width 2500px)
    min-height 1400px
    max-height 1400px
  @media screen and (max-width 992px)
    max-height 100%
    min-height 660px
    width 100%
  h2, h3
    font-size 144px
    font-family HelveticaBold
    letter-spacing -3.9px
    color #000000
    span
      color white
    @media screen and (max-width 1200px)
      font-size 60px
    @media screen and (max-width 992px)
      font-size 50px
      line-height 1
  h3
    color white !important

.content_holder
  display flex
  flex-direction column
  justify-content center
  align-items flex-start
  max-width 650px
  margin 0 auto
  padding 0 20px
  h2 span
    display inline
    @media screen and (max-width 992px)
      display block
  @media screen and (max-width 992px)
    padding 0 30px
    max-width 600px
    width 100%

.services
  background #FF0301
  height 100%
  display flex
  flex-direction column
  justify-content center
  align-items self-start
  width 50%
  max-height 890px
  min-height 890px
  @media screen and (min-width 2500px)
    min-height 1400px
    max-height 1400px
  @media screen and (max-width 992px)
    max-height 100%
    min-height 660px
    width 100%
    border-top 1px solid black
  h2
    font-size 25px
    color white
    font-family HelveticaBold
    display flex
    align-items center
    margin-bottom 65px
    @media screen and (max-width 992px)
      margin-bottom 30px
    .line
      height 1px
      width 60px
      background white
      margin-left 20px
  .content
    color black
    font-family HelveticaBold
    font-size 25px
    padding-bottom 30px

.cross
  position absolute
  bottom -18px
  right 0
  z-index 10
  @media screen and (max-width 992px)
    display none