.vishen_lakhiani_section
  display flex
  align-items center
  justify-content center
  background white
  position relative
  @media screen and (max-width 992px)
    flex-direction column
  .image_holder
    width 50%
    max-height 887px
    height 100%
    position relative
    @media screen and (min-width 2500px)
      min-height 1400px
      max-height 1400px
    @media screen and (max-width 992px)
      width 100%
      max-height 100%
    .name_holder
      position absolute
      top 73%
      left 50%
      transform translate(-50%, 0)
      display flex
      flex-direction column
      justify-content flex-end
      align-items flex-start
      max-width 550px
      width 100%
      .line
        width 76px
        background white
        height 1px
        margin-bottom 30px
      @media screen and (max-width 1200px)
        top 66%
        max-width 430px
      @media screen and (max-width 992px)
        max-width 600px
        margin 0 auto
        padding 0 30px
    h2
      font-size 76px
      font-family HelveticaBold
      color white
      letter-spacing -3.9px
      width 100%
      @media screen and (max-width 1200px)
        font-size 65px
      @media screen and (max-width 992px)
        font-size 50px
  .image
    width 100%
    max-height 887px
    height 100%
    @media screen and (min-width 2500px)
      min-height 1400px
      max-height 1400px
    picture img
      @media screen and (max-width 992px)
        object-position 50% 0% !important
    @media screen and (max-width 992px)
      max-height 660px
      min-height 660px
      height 100%
    img
      width 100%
      height 100%

.vishen_lakhiani
  max-height 887px
  height 100%
  display flex
  width 50%
  position relative
  flex-direction column
  justify-content center
  align-items flex-start
  @media screen and (min-width 2500px)
    min-height 1400px
    max-height 1400px
  @media screen and (max-width 992px)
    max-height 660px
    width 100%
    padding 30px
    min-height 660px
  .vishen_lakhiani_text
    display flex
    flex-direction column
    justify-content center
    align-items flex-start
    width 100%
    h2
      max-width 590px
      margin 0 auto
      font-size 25px
      padding 0 20px
      color black
      width 100%
      font-family HelveticaLight
      margin-bottom 60px
      line-height 1.2
      @media screen and (max-width 1200px)
        font-size 20px
      @media screen and (max-width 992px)
        max-width 600px
        margin-bottom 30px
        padding 0


.cross
  position absolute
  top -18px
  right -18px
  z-index 10
  @media screen and (max-width 992px)
    display none

.cross_2
  bottom -18px !important
  position absolute
  right -18px
  z-index 10
  @media screen and (max-width 992px)
    display none

.btn_holder
  max-width 590px
  padding 0 20px
  width 100%
  margin 0 auto
  @media screen and (max-width 1200px)
    padding 0 0 0 20px
  @media screen and (max-width 992px)
    padding 0

.read_full_btn
  max-width 204px
  width 100%
  padding 19px 20px
  background-image linear-gradient(to right, white 0%, white 51%, white 100%)!important
  border 1px solid black
  font-size 15px
  transition: 0.5s;
  background-size: 200% auto;
  font-family HelveticaBold
  color black
  display flex
  align-items flex-start
  justify-content space-between
  line-height 1.2
  &:hover
    background-position right center
    background-image linear-gradient(to right, black 0%, black 51%, white 100%)!important
    color white
    cursor pointer
    svg
      color white
  svg
    color black
    font-size 15px