.one_million_followers_section
  background #EDEDED 0% 0% no-repeat padding-box
  display flex
  align-items center
  justify-content center
  position relative
  @media screen and (max-width 992px)
    flex-direction column

.description
  max-height 1100px
  min-height 1100px
  height 100%
  display flex
  width 50%
  position relative
  flex-direction column
  justify-content center
  align-items flex-start
  padding 0 20px
  max-width 586px
  margin 0 auto
  @media screen and (min-width 2500px)
    min-height 1400px
    max-height 1400px
  @media screen and (max-width 992px)
    max-height 100%
    min-height 660px
    width 100%
    padding 30px
    max-width 600px



.case_study
  color #000000
  font-size 25px
  font-family HelveticaLight
  display flex
  align-items center
  span
    width 70px
    height 1px
    color black
    background black
    margin-top 8px
    margin-left 10px


.image_holder
  max-height 1100px
  min-height 1100px
  height 100%
  display flex
  width 50%
  position relative
  flex-direction column
  justify-content center
  align-items flex-start
  padding 0 20px
  @media screen and (min-width 2500px)
    min-height 1400px
    max-height 1400px
  @media screen and (max-width 992px)
    padding 0 30px
    max-height 660px
    min-height 660px
    width 100%
    max-width 600px
    margin 0 auto


.title
  color #000000
  font-family HelveticaBold
  font-size 100px
  width 100%
  max-width 546px
  margin-top 25px
  margin-bottom 30px
  line-height 0.9
  @media screen and (max-width 992px)
    max-width 600px
    width 100%
    margin 0 auto
    letter-spacing -3.7px
    font-size 74px
    padding-top 20px

.objective
  color: #000000
  opacity: 1
  font-family HelveticaBold
  font-size 18px
  display flex
  align-items center
  padding-top 35px
  span
    width 70px
    height 1px
    color black
    background black
    margin-top 5px
    margin-left 10px


.text
  color #000000
  font-family HelveticaLight
  font-size 20px
  width 100%
  max-width 640px
  margin-top 10px
  line-height 1.3

.highlights li
  list-style disc
  margin 0 0 20px 0
  color: #000000;
  font-family HelveticaLight
  font-size 20px
  line-height 1.3
  span
    font-family HelveticaBold
  &:nth-child(1)
    margin-top 20px


.highlights
  padding-left 23px
  width 100%
  max-width 642px


.image
  width 100%
  max-width 575px
  height 100%
  max-height 687px
  margin 0 auto