.work_section
  background-color black
  height 100%
  max-height 890px
  min-height 890px
  @media screen and (min-width 2500px)
    min-height 1400px
    max-height 1400px
  @media screen and (max-width 992px)
    max-height 660px
    min-height 660px


.holder
  display flex
  height 100%
  max-height 890px
  min-height 890px
  width 100%
  flex-direction column
  justify-content center
  @media screen and (min-width 2500px)
    min-height 1400px
    max-height 1400px
  @media screen and (max-width 992px)
    max-height 660px
    padding 30px
    min-height 660px
    max-width 600px
    width 100%
    margin 0 auto
  @media screen and (max-width 560px)
    max-width 100%
  h2
    letter-spacing -6.6px
    color #FFFFFF
    font-family HelveticaBold
    font-size 132px
    max-width 900px
    width 100%
    padding-left 70px
    @media screen and (max-width 992px)
      max-width 100%
      font-size 74px
      padding-left 0
      margin 0 auto
    @media screen and (max-width 560px)
      max-width 250px
      margin 0
  a
    background-image linear-gradient(to right, #f00 0%, #f00 100%)!important
    width 100%
    max-width 204px
    display flex
    justify-content space-between
    align-items center
    padding 22px 15px 22px 25px
    margin-top 30px
    transition: 0.5s;
    background-size: 200% auto;
    color white
    font-family HelveticaBold
    font-size 15px
    border none
    margin-left 70px
    @media screen and (max-width 992px)
      margin-left 0
      margin-top 25px
      padding 19px 15px 19px 25px
      background-image none !important
      background #f00
    &:hover
      background-position right center
      text-decoration none
      color white
      background-image linear-gradient(to right, #f00 0%, #fda085 51%, #f00 100%)!important
      @media screen and (max-width 992px)
        background-image none !important
        background darken(#f00, 15%)
    svg
      fill white