.question_section
  width 100%
  max-height 890px
  min-height 890px
  height 100%
  display flex
  position relative
  @media screen and (min-width 2500px)
    min-height 1400px
    max-height 1400px
  @media screen and (max-width 992px)
    max-height 100%
    min-height 660px

.question_content
  display flex
  flex-direction column
  max-height 890px
  min-height 890px
  justify-content center
  align-items flex-start
  height 100%
  width 100%
  position relative
  background #F50200
  @media screen and (min-width 2500px)
    min-height 1400px
    max-height 1400px
  @media screen and (max-width 992px)
    max-height 100%
    min-height 660px


.question
  display flex
  flex-direction column
  justify-content center
  align-items flex-start
  max-width 1340px
  padding 0 20px
  margin 0 auto
  @media screen and (max-width 992px)
    min-with 660px
    padding 0 30px
    max-width 600px
    margin 0 auto
  h2
    color white
    font-size 125px
    font-family HelveticaBold
    margin-bottom 20px
    line-height 1
    @media screen and (max-width 1200px)
      font-size 60px
    @media screen and (max-width 1200px)
      font-size 50px
      letter-spacing -3.7px
      margin-bottom 30px
    span
      color black
  h3
    font-family HelveticaLight
    color black
    font-size 25px
    @media screen and (max-width 1200px)
      font-size 23px
    span
      color white

.cross
  position absolute
  bottom -18px
  right 50%
  z-index 10
  @media screen and (max-width 992px)
    display none