.section
  width 100%
  max-height 890px
  min-height 890px
  height 100%
  display flex
  position relative
  background #FF0301
  @media screen and (min-width 2500px)
    min-height 1400px
    max-height 1400px
  @media screen and (max-width 992px)
    max-height 100%
    min-height 660px
    flex-direction column
    justify-content center


.content_wrapper
  max-width 1376px
  width 100%
  margin 0 auto
  padding 0 20px
  display flex
  flex-direction column
  justify-content center
  align-items flex-start
  @media screen and (max-width 992px)
    max-width 600px
    padding 30px
  h3
    color black
    font-family HelveticaLight
    font-size 25px
    padding-bottom 56px
    display flex
    align-items center
    @media screen and (max-width 992px)
      padding-bottom 30px
    .line
      width 76px
      height 1px
      background black
      margin-left 30px
  .content
    font-size 125px
    font-family HelveticaBold
    letter-spacing -6.25px
    color #000000
    opacity 1
    max-width 1376px
    width 100%
    line-height 1.1
    p
      color black
      display flex
      flex-direction column
      span
        color white
    @media screen and (max-width 992px)
      font-size 80px
    @media screen and (max-width 600px)
      font-size 55px
      letter-spacing normal