.header
  width 100%
  background rgba(255,255,255,0)
  position absolute
  top 0
  left 0
  right 0
  z-index 100000

.header_content
  padding 30px 26px
  display flex
  align-items center
  justify-content space-between

.logo
  text-decoration none
  letter-spacing 0
  max-width 115px
  width 100%
  img
    width 100%
    object-fit contain
  &:hover
    text-decoration none !important

.menu
  display flex
  align-items center
  .link
    font-size 15px
    color black
    margin 0 15px
    letter-spacing 0
    font-family HelveticaBold
    text-decoration none !important
    &:hover
      text-decoration none !important
      color #FF0301
      transition 0.2s
  .active_link
    color #FF0301 !important