.section {
    height: 352px;
    background-color: #EDEDED;
    display: flex;
    align-items: center;
    @media screen and (max-width:992px) {
        height: auto 
        padding: 30px 0
    }
}

.container {
    width: 100%;
    max-width: 1380px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media screen and (max-width:992px) {
        flex-direction: column;
        justify-content: center;    
    }
        
}

.avatar {
    width: 193px;
    height: 193px;
    border-radius: 9999px;
    object-fit: cover;
    margin-right: 37px;
    @media screen and (max-width:992px) {
        margin-right: 0
        margin-bottom: 27px    
    }
}

.text{
    font-size: 35px;
    font-family: HelveticaBold;
    line-height: 44px;
    letter-spacing: 0px;
    a{
        color: #FF0301
    }
    @media screen and (max-width:992px) {
        text-align: center;
        font-size: 20px
        line-height: 24px   
        padding 0 25px 
        p:first-child {
            margin-bottom: 10px;
        }
    }
}