.review_white, .review
  display flex
  flex-direction column
  max-height 890px
  justify-content center
  padding 50px 0
  align-items center
  height 100%
  width 50%
  position relative
  background white
  @media screen and (min-width 1800px)
    min-height 1400px
    max-height 1400px
  @media screen and (max-width 992px)
    max-height 660px
    width 100%

.review
  background #EDEDED !important

.review_wrapper
  width 100%
  text-align center
  position relative
  padding-top 100%

.review_content
  display flex
  flex-direction column
  justify-content center
  align-items flex-start
  max-width 663px
  padding 0 20px
  margin 0 auto
  width 100%
  position absolute
  top 0
  left 0
  right 0
  bottom 0
  height 100%
  object-fit cover
  @media screen and (max-width 992px)
    padding 0 30px


.avatar_holder
  display flex
  justify-content center
  align-items center
  width 100%
  text-align center

.avatar
  max-width 150px
  width 100%
  object-fit cover
  margin-bottom 32px

.description
  letter-spacing -1.4px
  color black
  font-size 28px
  line-height 1.4
  margin-bottom 20px
  text-align left
  font-family HelveticaOblique
  @media screen and (max-width 992px)
    font-size 20px
    text-align center


.person
  display flex
  align-items center
  font-size 28px
  font-family HelveticaBold
  letter-spacing -1.4px
  @media screen and (max-width 992px)
    font-size 20px
  .line
    width 20px
    height 3px
    background black
    margin-right 5px

.person_position
  font-family HelveticaLight
  font-size 18px
  line-height 1.2
  letter-spacing -0.9px
  color #626262
  opacity 1
  padding-left 30px
  margin-top 5px
  text-align left
  @media screen and (max-width 992px)
    font-size 16px

