.footer
  width 100%
  background rgba(255,255,255,0)
  position absolute
  bottom 0
  right 0
  left 0
  .footer_content, .footer_content_white
    text-align right
    font-size 10px
    color black
    font-family HelveticaBold
    padding-bottom 43px
    padding-right 65px
    display flex
    align-items center
    justify-content flex-end
    @media screen and (max-width 992px)
      font-size 7px
      padding-right 23px
      padding-bottom 23px
    .line, .line_white
      width 65px
      vertical-align middle
      margin-right 15px
      font-weight bold
      height 1px
      background black

.footer_content_white
  color white !important

.line_white
    background white !important
