.newsletter_section
  height 100%
  width 100%
  position relative
  @media screen and (max-width 992px)
    max-height 660px
    min-height 660px
    overflow hidden
    height 100%
  .image
    height 100%
    width 100%
    @media screen and (max-width 992px)
      width unset
      max-width unset
    video
      height 100%
      width 100%
      max-width 100%
      @media screen and (max-width 992px)
        width auto
        max-width unset

.content_holder
  display flex
  flex-direction column
  justify-content center
  align-items center
  width 100%
  height 100%
  position absolute
  top 0
  left 0
  right 0
  bottom 0
  z-index 1000
  background rgba(255,255,255,0)
  @media screen and (max-width 992px)
    padding 0 30px
  h2
    color #191919
    font-size 132px
    font-family HelveticaBold
    margin-bottom 25px
    @media screen and (max-width 1200px)
      font-size 90px
    @media screen and (max-width 992px)
      font-size 71px
      margin-bottom 20px
      letter-spacing -3.7px
    @media screen and (max-width 380px)
      font-size 68px
  h3
    font-size 35px
    color black
    font-family HelveticaLight
    margin-bottom 30px
    @media screen and (max-width 1200px)
      font-size 30px
    @media screen and (max-width 992px)
      font-size 25px
      color black
      margin-bottom 15px

.error
  color red
  font-size 12px
  margin-top 10px
  font-family HelveticaBold
  letter-spacing 0.2px

.input_holder
  display flex
  align-items center
  max-width 376px
  width 100%
  .input
    max-width 300px
    width 100%
    overflow hidden !important
    input
      background white
      border none !important
      padding 20px 30px
      color black
      font-size 15px
      font-family HelveticaBold
      width 100%
    input::placeholder
        opacity 1
        color black
        font-size 15px
        font-family HelveticaBold
  button
    padding 18px
    color white
    border none !important
    background #FF0000
    max-width 56px
    width 100%
    outline none !important
    line-height 1.4
    &:hover
      background darken(#FF0000, 15%)
    svg
      font-size 15px
      color white
