.about_the_author_section
  display flex
  flex-direction row-reverse
  align-items center
  justify-content center
  background #F50200
  position relative
  @media screen and (max-width 992px)
    flex-direction column-reverse
  .image_holder
    width 50%
    max-height 887px
    height 100%
    position relative
    @media screen and (min-width 2500px)
      min-height 1400px
      max-height 1400px
    @media screen and (max-width 992px)
      width 100%
      max-height 100%
    .name_holder
      position absolute
      top 73%
      left 50%
      transform translate(-50%, 0)
      display flex
      flex-direction column
      justify-content flex-end
      align-items flex-start
      max-width 550px
      width 100%
      @media screen and (max-width 992px)
        max-width 600px
        margin 0 auto
        padding 0 30px
      .line
        width 76px
        background white
        height 1px
        margin-bottom 30px
      @media screen and (max-width 1200px)
        top 66%
        max-width 430px
      @media screen and (max-width 992px)
        max-width 600px
    h2
      font-size 76px
      font-family HelveticaBold
      color white
      letter-spacing -3.9px
      width 100%
      @media screen and (max-width 1200px)
        font-size 65px
      @media screen and (max-width 992px)
        font-size 50px
  .image
    width 100%
    max-height 887px
    height 100%
    @media screen and (min-width 2500px)
      min-height 1400px
      max-height 1400px
    @media screen and (max-width 992px)
      max-height 660px
    img
      width 100%
      height 100%

.about_the_author
  max-height 887px
  height 100%
  display flex
  width 50%
  position relative
  flex-direction column
  justify-content center
  align-items flex-start
  @media screen and (min-width 2500px)
    min-height 1400px
    max-height 1400px
  @media screen and (max-width 992px)
    max-height 660px
    width 100%
    min-height 660px
  .about_the_author_content
    display flex
    flex-direction column
    justify-content center
    align-items flex-start
    width 100%
    h2
      max-width 620px
      margin 0 auto
      font-size 122px
      letter-spacing -6.1px
      padding 0 20px
      color black
      width 100%
      font-family HelveticaBold
      margin-bottom 60px
      @media screen and (max-width 992px)
        max-width 600px
        margin-bottom 30px
        padding 0 30px
      span
        color white
      @media screen and (max-width 1200px)
        font-size 100px
      @media screen and (max-width 992px)
        font-size 54px
