.over_a_decade_section
  display flex
  align-items center
  justify-content center
  background linear-gradient(180deg, rgba(0,0,0,0.09) 45%, rgba(255,255,255,0.09) 100%)
  position relative
  @media screen and (max-width 992px)
    flex-direction column
  .image_holder
    width 50%
    max-height 887px
    height 100%
    position relative
    @media screen and (min-width 2500px)
      min-height 1400px
      max-height 1400px
    @media screen and (max-width 992px)
      width 100%
      max-height 660px
  .image
    width 100%
    max-height 887px
    height 100%
    picture img
      object-fit contain !important
    @media screen and (max-width 992px)
      max-height 660px
    @media screen and (min-width 2500px)
      min-height 1400px
      max-height 1400px

.over_a_decade_holder
  max-height 887px
  height 100%
  display flex
  width 50%
  position relative
  flex-direction column
  justify-content center
  align-items flex-start
  padding 0 20px
  @media screen and (min-width 2500px)
    min-height 1400px
    max-height 1400px
  @media screen and (max-width 992px)
    width 100%
    max-height 660px
    min-height 660px
    height 100%
    max-width 600px
    margin 0 auto
  h2
    max-width 512px
    width 100%
    font-size 132px
    font-family HelveticaBold
    margin 0 auto
    line-height 0.8
    color black
    @media screen and (max-width 1200px)
      font-size 90px
    @media screen and (max-width 992px)
      font-size 74px
      line-height 1
      letter-spacing -3.7px
      margin 0
      max-width 330px
  .content
    color black
    font-family HelveticaLight
    font-size 35px
    max-width 512px
    width 100%
    margin 0 auto 22px
    margin-top 25px
    @media screen and (max-width 1200px)
      font-size 30px
    @media screen and (max-width 992px)
      font-size 25px
      margin 10px 0 22px 0


.btn_holder
  max-width 512px
  width 100%
  margin 0 auto
  @media screen and (max-width 992px)
    margin 0

.explore_btn
  max-width 207px
  width 100%
  padding 19px 20px
  background-image linear-gradient(to right, #f00 0%, #f00 100%)!important
  font-size 15px
  font-family HelveticaBold
  color white
  transition: 0.5s;
  background-size: 200% auto;
  display flex
  align-items flex-start
  justify-content space-between
  line-height 1.2
  margin-top 22px
  @media screen and (max-width 992px)
    max-width 257px
    margin-top 10px
    background-image none !important
    background #f00
  &:hover
    cursor pointer
    background-position right center
    text-decoration none
    color white
    background-image linear-gradient(to right, #f00 0%, #fda085 51%, #f00 100%)!important
    @media screen and (max-width 992px)
      background-image none !important
      background darken(#f00, 15%)
  svg
    color white
    cursor pointer
    font-size 15px

.cross
  position absolute
  top -26px
  right -26px
  z-index 10
  width 53px
  @media screen and (max-width 992px)
    display none