.about_the_book_section
  width 100%
  max-height 890px
  min-height 890px
  height 100%
  display flex
  position relative
  background white
  @media screen and (min-width 2500px)
    min-height 1400px
    max-height 1400px
  @media screen and (max-width 992px)
    max-height 100%
    min-height 660px
    flex-direction column
    justify-content center

.about_the_book_content_wrapper
  max-width 1200px
  width 100%
  margin 0 auto
  padding 0 20px
  display flex
  flex-direction column
  justify-content center
  align-items flex-start
  @media screen and (max-width 992px)
    max-width 600px
    padding 30px
  h3
    color #000000
    font-family HelveticaLight
    font-size 25px
    padding-bottom 56px
    display flex
    align-items center
    @media screen and (max-width 992px)
      padding-bottom 30px
    .line
      width 76px
      height 1px
      background black
      margin-left 30px
  .content
    font-size 40px
    font-family HelveticaBold
    letter-spacing -2px
    line-height 1.2
    color #000000
    max-width 1215px
    width 100%
    @media screen and (max-width 992px)
      font-size 25px
      max-width 600px
      margin 0 auto
    em
      color #FF0301
