.section
  background #EDEDED 0% 0% no-repeat padding-box
  opacity 1
  padding-top 98px
  padding-bottom 100px


.content
  width 100%
  max-width 790px
  padding-left 15px
  padding-right 15px
  margin 0 auto


.section_title
  letter-spacing -2px
  color #000000
  opacity 1
  font-family HelveticaBold
  font-size 40px
  text-align center


.offers_holder
  display flex
  align-items center
  justify-content space-between
  padding-top 90px
  @media screen and (max-width 700px)
    flex-direction column


.offer
  width 100%
  max-width 336px
  height 100%
  max-height 821px
  min-height 821px

.offer_header
  padding 32px 0 32px 0
  text-align center
  background #A78C54 0% 0% no-repeat padding-box
  opacity 1
  h3
    letter-spacing -1.1px
    color #FFFFFF
    opacity 1
    font-family HelveticaBold
    font-size 22px


.offer_header_two
  padding 32px 0 32px 0
  text-align center
  background #FF0301 0% 0% no-repeat padding-box
  opacity 1
  h3
    letter-spacing -1.1px
    color #FFFFFF
    opacity 1
    font-family HelveticaBold
    font-size 22px


.offer_body
  padding-top 32px
  padding-bottom 32px
  padding-left 28px
  padding-right 28px
  background #FFFFFF 0% 0% no-repeat padding-box
  box-shadow 0px 3px 66px #A78C5457
  opacity 1
  height 100%
  min-height 673px


.offer_price
  letter-spacing 0
  color #000000
  opacity 1
  font-family HelveticaLight
  font-size 35px
  text-align center


.offer_body_content
  margin-top 10px

.offer_body_content p
  letter-spacing 0
  color #000000
  opacity 1
  font-family HelveticaBold
  font-size 18px
  margin 0 0 20px 0
  display flex
  line-height 1.1
  svg
    color #1DEDED
    font-size 20px
    margin-right 10px


.link
  width 100%
  padding 15px 20px 15px 35px
  background-image linear-gradient(to right, white 0%, white 51%, white 100%)!important
  border 1px solid black
  font-size 15px
  transition: 0.5s;
  background-size: 200% auto;
  font-family HelveticaBold
  color black
  display flex
  align-items flex-start
  justify-content space-between
  line-height 1.2
  margin-top 45px
  &:hover
    background-position right center
    background-image linear-gradient(to right, black 0%, black 51%, white 100%)!important
    color white
    text-decoration none
    cursor pointer
    svg
      color white
  svg
    color black
    font-size 15px
    margin-top 5px!important