
.modal_body
  padding 30px 25px 25px 25px !important
  p
    font-size 20px
    color black
    font-family HelveticaLight
    line-height 1.2
    .list_item
      display block
      padding-left 20px
      padding-bottom 20px
      font-weight normal !important
      &:first-of-type
        padding-top 30px !important
    span
      display block
      font-weight bold

.exit_icon
  display block
  width 100%
  text-align right
  margin-bottom 40px
  svg
    color black
    font-size 20px
    &:hover
      cursor pointer
