.about_hero_section
  width 100%
  max-height 890px
  min-height 890px
  height 100%
  display flex
  position relative
  @media screen and (min-width 2500px)
    min-height 1400px
    max-height 1400px
  @media screen and (max-width 992px)
    max-height 100%
    min-height 660px

.make_your_business_section
  display flex
  flex-direction column
  max-height 890px
  min-height 890px
  justify-content center
  align-items flex-start
  height 100%
  width 100%
  position relative
  background white
  padding 0 20px
  @media screen and (min-width 2500px)
    min-height 1400px
    max-height 1400px
  @media screen and (max-width 992px)
    max-height 100%
    padding 30px
    min-height 660px

.make_yout_business
  display flex
  flex-direction column
  justify-content center
  align-items flex-start
  max-width 1284px
  margin 0 auto
  h2
    letter-spacing -3.5px
    color black
    font-size 120px
    font-family HelveticaBold
    max-width 1190px
    margin 0 auto
    line-height 0.9
    @media screen and (max-width 1200px)
      font-size 60px
    @media screen and (max-width 992px)
      letter-spacing -3.7px
      max-width 600px
      line-height 1
      font-size 50px
      margin 0
    span
      color #FF0301
  h3
    font-family HelveticaLight
    color black
    font-size 25px
    max-width 1190px
    margin 0 auto
    margin-top 40px
    line-height 1.3
    @media screen and (max-width 1200px)
      font-size 23px
    @media screen and (max-width 992px)
      margin 0
      max-width 600px
      margin-top 30px
    span
      color white


.cross
  position absolute
  bottom -18px
  right 50%
  z-index 10
  @media screen and (max-width 992px)
    display none