.hero_section
  display flex
  align-items center
  justify-content center
  max-height 890px
  height 100%
  background white
  position relative
  @media screen and (max-width 992px)
    max-height 100%
    flex-direction column
  @media screen and (min-width 2500px)
    max-height 100%


.three_seconds_section
  width 50%
  display flex
  flex-direction column
  justify-content flex-start
  align-items flex-start
  padding 0 20px
  height 100%
  @media screen and (max-width 992px)
    width 100%
    min-height 660px
    max-width 600px
    margin 0 auto
    justify-content center
    padding 0 30px
  .title
    font-size 110px
    font-family HelveticaBold, sans-serif
    color black
    max-width 556px
    min-width 556px
    width 100%
    margin 0 auto
    display flex
    flex-flow row wrap
    position relative
    line-height 0.8
    @media screen and (max-width 1200px)
      max-width 390px
      min-width 390px
      font-size 80px
    @media screen and (max-width 992px)
      letter-spacing -3.7px
      font-size 74px
      max-width 340px
      min-width 340px
      line-height 1
      margin 0
      margin-bottom 10px
    @media screen and (max-width 600px)
      font-size 69px
    p
      color #FF0000
      display flex
  h3
    font-size 35px
    color black
    font-family HelveticaLight, sans-serif
    max-width 556px
    min-width 556px
    width 100%
    margin 0 auto
    margin-top 25px
    animation move-text 0.75s forwards
    @media screen and (max-width 1200px)
      font-size 30px
      max-width 390px
      min-width 390px
    @media screen and (max-width 992px)
      font-size 25px
      max-width 100%
      min-width 100%
      margin 0

@keyframes move-text {
  0% { bottom: -0.2em; opacity: 1; }
  50% { bottom: 0.2em; }
  100% { bottom: 0; opacity: 1; }
}

.cross
  position absolute
  bottom -26px
  left -26px
  z-index 10
  width 53px
  @media screen and (max-width 992px)
    display none

.what_we_do_section
  width 50%
  height 100%
  position relative
  max-height 890px
  min-height 890px
  video
    height 100%
    width 100%!important
    max-height 890px
    min-height 890px
    object-fit cover
    max-width 100%
    @media screen and (min-width 2500px)
      width 100%
      min-height 1400px
    @media screen and (max-width 992px)
      width 100% !important
      max-width 100%  !important
      height 100% !important
  @media screen and (min-width 2500px)
    min-height 1400px
    max-height 1400px
  @media screen and (max-width 992px)
    width 100%
    max-height 660px
    min-height 660px
  .taylor_swift_image
    width 100%
    height 100%
    max-height 890px
    min-height 890px
    @media screen and (min-width 2500px)
      min-height 1400px
      max-height 1400px
    @media screen and (max-width 992px)
      max-height 660px
      min-height 660px
    picture img
      object-position 90% 50% !important
      @media screen and (max-width 992px)
        object-position 60% 50% !important
    img
      width 100%
      height 100%
      object-fit cover

.btn_holder
  width 100%
  max-width 204px
  position absolute
  left 50%
  transform translate(-50%, 0)
  bottom 0
  @media screen and (max-width 992px)
    max-width 660px
    margin 0 auto
    padding-left 30px
    text-align left
    bottom 0

.learn_more, .what_we_do
  width 100%
  padding 19px 20px
  font-size 15px
  font-family HelveticaBold
  color white
  display flex
  transition: 0.5s;
  background-size: 200% auto;
  align-items flex-start
  justify-content space-between
  line-height 1.2
  &:hover
    cursor pointer
    background-position right center
    text-decoration none
    color white
  @media screen and (max-width 992px)
    margin-top 16px
    max-width 204px
  svg
    color white
    font-size 15px

.learn_more
  left 25%
  position absolute
  bottom 130px
  max-width 204px
  background-image linear-gradient(to right, #f00 0%,#f00 100%)!important
  transform translate(-50%, 0)
  &:hover
    background-image linear-gradient(to right, #f00 0%, #fda085 51%, #f00 100%)!important
    @media screen and (max-width 992px)
      background darken(#f00, 15%)
      background-image none !important
  @media screen and (max-width 992px)
    left unset
    position relative
    transform none
    bottom unset
    background #f00
    background-image none !important


.what_we_do
  color black !important
  background-image linear-gradient(to right, white 0%, white 51%, white 100%)!important
  border 1px solid black
  left 50%
  position absolute
  bottom 130px
  transform translate(-50%, 0)
  @media screen and (max-width 992px)
    bottom 60px
    left 30px
    transform unset
    background-image none !important
    background white
  &:hover
    background-image linear-gradient(to right, black 0%, black 51%, white 100%)!important
    color white !important
    @media screen and (max-width 992px)
      background black!important
      coloer white !important
      background-image none !important
    svg
      color white !important
  svg
    color black !important


.number
  margin-right 20px
  span
    color #000000
    padding-left 20px
  @media screen and (max-width 992px)
    margin-right 15px

.image
  height 100%
  width 100%
