.header
  width 100%
  padding 30px
  display flex
  justify-content space-between
  align-items center
  .logo
    max-width 115px
    width 100%
    img
      width 100%
      object-fit contain
  .burger
    max-width 32px
    img
      width 100%
      height 100%
      object-fit contain

